.topnav {
  background-color: transparent;
  /* rgba(51, 51, 51, 0.4); */
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.topnav .icon {
  display: none;
}

.topnav img {
  width: 100px;
  height: 85px;
}


@media screen and (min-width: 600px) {
  .icon-left {
    position: absolute;
    left: 29%;
  }
  
  .icon-right {
    position: absolute;
    right: 32%;
    top: 5px;
  }
}

@media screen and (max-width: 600px) {
  .icon-left {
    position: absolute;
    left: 0%;
  }
  
  .icon-right {
    position: absolute;
    right: 0%;
    top: 5px;
  }
}