<div class="pagination" *ngIf="people">
  <a [ngClass]="people.previous === null ? 'disabled' : '' " (click)="goToPrevious()">&laquo;</a>
  <a *ngFor="let page of pages" (click)="goToPage(page)"
    [ngClass]="page.number == pageSelected.number ? 'active' : '' ">{{page.label}}</a>
  <a [ngClass]="people.next === null? 'disabled' : '' " (click)="goToNext()">&raquo;</a>
</div>