<div class="card" *ngIf="people">
    <div class="loader" *ngIf="loading"></div>
    <div class="card-header">
        <h2>Characters</h2>
    </div>
    <div class="list">
        <ul *ngIf="!loading">
            <li *ngFor="let character of people.results; let i = index">
                <a (click)="selectCharacter(character)">{{character.name}}</a>
            </li>
        </ul>
    </div>
    <app-pagination [people]="people" [elements]="10" (selected)="onSelected($event)"></app-pagination>
</div>
<div class="loader" *ngIf="loading"></div>
