/** general List */

.list {
    flex-grow: 1;
}

.list ul {
    color: white;
}

* {
    box-sizing: border-box;
}

.list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list li {
    cursor: pointer;
    position: relative;
    padding: 4px 8px 8px 0px;
    font-size: 14px;
    text-align: left;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.list li:hover {
    background: #ddd;
}

.list li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

.list li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.loader {
    margin-left: 20%!important;
}

.card {
    flex-direction: column !important;
    align-items: center !important;
}