@media screen and (min-width: 600px) {
    :host {
        margin-top: 20px;
        color: white;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card {
        min-width: 350px !important;
    }
}

@media screen and (max-width: 600px) {
    :host {
        margin-top: 20px;
        color: white;
        width: 100%;
    }
    .card {
        max-width: 90% !important;
        margin-top: 20px;
    }
}

.card {
    text-align: unset;
    width: max-content;
    align-self: center;
}

.movie-list {
    color: white;
}

.movie-list ul li {
    list-style-type: none;
    position: relative;
    padding: 0.5px;
    background: transparent;
    font-size: 14px;
    text-align: center;
}

.list-header {
    background: rgba(169, 169, 169, .1) !important;
    font-size: 1.7rem;
}

.loader {
    position: absolute !important;
    top: 40% !important;
    left: 55% !important;
}

.card-header {
    border-bottom: solid .2px grey;
}