<div class="card">
    <div class="loader" *ngIf="loading"></div>
    <div class="grid">
        <div class="row" *ngIf="!loading && character">
            <div class="card-header col-12">
                <h2>Name: {{character.name}}</h2>
            </div>
            <div class="col">
                <h3>character Information</h3>
                <div class="row">
                    <div class="col-6">
                        Height:
                    </div>
                    <div class="col-6">
                        {{character.height}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        Mass:
                    </div>
                    <div class="col-6">
                        {{character.mass}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        Hair color:
                    </div>
                    <div class="col-6">
                        {{character.hair_color}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        Skin color:
                    </div>
                    <div class="col-6">
                        {{character.skin_color}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        Eye color:
                    </div>
                    <div class="col-6">
                        {{character.eye_color}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        Birth year:
                    </div>
                    <div class="col-6">
                        {{character.birth_year}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        Gender:
                    </div>
                    <div class="col-6">
                        {{character.gender}}
                    </div>
                </div>
            </div>
            <div class="movie-list col">
                <ul *ngIf="!loading">
                    <li class="list-header">
                        <h3>films</h3>
                    </li>
                    <li *ngFor="let movie of movies">
                        <p>{{movie.title}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>