html, body {
    font-family: 'Muli';
    min-height: 99vh;
    height: auto;
    margin: 0;
}

* {
    box-sizing: border-box;
}

/** Gid */

.grid {
    display: flex;
}

.column {
    float: left;
    width: 25%;
}

/* Clear floats after the columns */

.row {
    width: 100%!important;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col-12 {
    float: left;
    width: 100% !important;
}

.col-6 {
    float: left;
    width: 50% !important;
}

.col-4 {
    float: left;
    width: 25% !important;
}

@media screen and (min-width: 600px) {
    .col {
        float: left;
        width: 50% !important;
    }
}

@media screen and (max-width: 600px) {
    .col {
        float: left;
        width: 100% !important;
    }
}

/** loader */

.loader {
    position: relative;
    top: 30vh !important;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/** Card */

.card {
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: rgba(169, 169, 169, .2);
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
}

.card-header h2 {
    color: white;
}

/** backgound **/

body {
    background: #000 url('assets/images/stars.png') repeat top center;
}