:host {
    padding-left: 5%;
}

.container {
    height: 100vh;
}

.full-height {
    height: 90%;
    padding: 0% 5% 5% 5%;
}

.sidenav {
    height: 100%;
    width: auto;
    min-width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

@media screen and (min-width: 600px) {
    .sidenav {
        position: fixed!important;
        padding-top: 96px;
    }
}

@media screen and (max-width: 600px) {
    .sidenav {
        position: unset!important;
    }
}

.row {
    width: 100%!important;
}